.Posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.infoInput {
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 20px;
  flex: 1;
}
